<template>
  <div class="about">
    <div class="card mt-4">
      <div class="card-header">Version</div>
      <div class="card-body">
          <b-link href="https://pigbt.web.cern.ch/manual/updates.html#pigbt-version-history" target="_blank">PiGBT V{{ pigbt_version }}</b-link>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">Support</div>
      <div class="card-body">
        <a href="mailto:lpgbt-support@cern.ch"> lpgbt-support@cern.ch </a>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Documentation</div>
      <div class="card-body">
        <p>
          <b-link href="https://vldbplus.web.cern.ch/" target="_blank"
            >VLDB+ web page</b-link
          >
        </p>
        <p>
          <b-link href="https://vldbplus.web.cern.ch/manual/" target="_blank"
            >VLDB+ Manual</b-link
          >
        </p>
        <p>
          <b-link href="https://pigbt.web.cern.ch/manual/" target="_blank"
            >Raspberry control toolkit</b-link
          >
        </p>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">lpGBT chip design</div>
      <div class="card-body text-left">
        <ul>
          <li>
            <strong>CERN, Geneva</strong>: David Porret, Jose Fonseca, Ken
            Wyllie, Paulo Moreira, Pedro Leitao, Rui Francisco, Sophie
            Baron, Szymon Kulis
          </li>
          <li>
            <strong>AGH University of Science and Technology, Cracow</strong>:
            Marek Idzik, Miroslaw Firlej, Jakub Moroń, Tomasz
            Fiutowski, Krzysztof Swientek
          </li>
          <li>
            <strong>KU Leuven</strong>: Bram Faes, Jeffrey Prinzie, Paul Leroux
          </li>
          <li><strong>UNL - FCT</strong>: João Carvalho, Nuno Paulino</li>
          <li>
            <strong>SMU Physics</strong>: Datao Gong, Di Guo, Dongxu Yang,
            Jingbo Ye, Quan Sun, Wei Zhou
          </li>
          <li>
            <strong>SMU Electrical Engineering</strong>: Tao Zhang, Ping Gui
          </li>
        </ul>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">lpGBT testing and commisioning</div>
      <div class="card-body text-left">
        <ul>
          <li>
            <strong>CERN, Geneva</strong>: David Porret, Jose Fonseca, Paulo
            Moreira, Sophie Baron, Szymon Kulis, Julian Mendez, Stefan
            Biereigel, Daniel Hernandez Montesinos, Nour Guettouche.
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
const API_URL = "/api";

import axios from "axios";

export default {
  name: "about",    
  data() {
    return {
      pigbt_version: "",
    };
  },

  created: function () {
    this.getPiGBTVersion();
  },

  methods: {
    getPiGBTVersion() {
      axios
        .get(`${API_URL}/pigbt_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.pigbt_version = response.data.result.pigbt_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },
};
</script>

<style>
.input-group-prepend {
  width: 50%;
}
.form-control {
  border: 1px solid #007bff;
  height: auto;
}
.btn-primary {
  margin-left: 10px;
}
</style>
