<template>
  <div class="analog">
    <div class="card mt-4" v-if="chip_version == 1">
      <div class="card-header">
        Calibration
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#calibration'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Calibration">
            <b-form-radio-group
              id="btnradios_cal"
              buttons
              v-model="calibration"
              @change="OnPutCal($event)"
              :options="calibration_options"
              button-variant="outline-primary"
              name="radiosBtnDefault"
              :disabled="LoadingCal || FindCalProgress"
            />
          </b-input-group>
        </div>

        <div class="text-center">
          <b-spinner
            v-if="FindCalProgress"
            variant="primary"
            label="Text Centered"
          ></b-spinner>
        </div>
        <div v-if="FindCalProgress" class="text-center">
          Searching for calibration values...
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div v-if="!calibration" class="card-header">
        Voltage Reference
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#reference-voltage'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div v-if="calibration" class="card-header">
        Calibrated Voltage Reference
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#reference-voltage-generator-vref'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Output pin">
            <b-form-radio-group
              id="btn_pull"
              buttons
              v-model="vref_enable"
              @change="onPutVref(0, $event)"
              name="pullbtns"
              button-variant="outline-primary"
              :disabled="LoadingCal || FindCalProgress"
            >
              <b-form-radio
                v-for="opt in onoff_options"
                :key="opt.value"
                :value="opt.value"
              >
                <icon :name="opt.icon" />
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>
        <div class="p-1">
          <b-input-group prepend="Tune">
            <b-form-input
              id="range"
              v-model="vref_tune"
              @change="onPutVref(1, $event)"
              type="range"
              :min="0"
              :max="vref_tune_max"
              trigger-change-event
              :disabled="!vref_enable || LoadingCal || FindCalProgress"
            ></b-form-input>
          </b-input-group>
        </div>
        <div v-if="vref_enable && !calibration" class="p-1">
          <b-input-group prepend="Byte value">
            <b-form-input v-model="vref_tune"></b-form-input>
          </b-input-group>
        </div>

        <div v-if="vref_enable && calibration" class="p-1">
          <b-input-group>
            <b-input-group-prepend>
              <button
                class="btn btn-primary btn-block"
                type="button"
                @click="onGetVrefCal"
                :disabled="LoadingCal || FindCalProgress"
              >
              Byte value (click here to get ~1 V)
              </button>
              <b-spinner
                v-if="LoadingCalVref && vref_enable"
                variant="primary"
                label="Text Centered"
              ></b-spinner>
            </b-input-group-prepend>
            <b-form-input v-model="vref_tune"></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div v-if="!calibration" class="card-header">
        Voltage DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#voltage-digital-to-analog-converter'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div v-if="calibration" class="card-header">
        Calibrated Voltage DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#voltage-dac-vdac'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <div v-if="!calibration" class="p-1">
            <b-input-group prepend="Output pin">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="vdac_enable"
                @change="onPutVdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div v-if="!calibration" class="p-1">
            <b-input-group prepend=" Tune" append="MSB">
              <b-form-input
                id="range"
                v-model="vdac_value"
                @change="onPutVdac(1, $event)"
                type="range"
                :min="0"
                :max="4095"
                trigger-change-event
                :disabled="!vdac_enable"
              ></b-form-input>
            </b-input-group>
          </div>
          <div v-if="vdac_enable && !calibration" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="vdac_value"></b-form-input>
            </b-input-group>
          </div>

          <div v-if="calibration" class="p-1">
            <b-input-group prepend="Output pin">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="vdac_enable"
                @change="onPutVdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
                :disabled="LoadingCal || FindCalProgress"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div v-if="calibration" class="p-1">
            <b-input-group prepend=" Tune">
              <b-form-input
                id="range"
                v-model="vdac_voltage"
                @change="onPutVdacCalibrated($event)"
                type="range"
                :min="0"
                :max="4095"
                trigger-change-event
                :disabled="!vdac_enable || LoadingCal || FindCalProgress"
              ></b-form-input>
              <b-spinner
                v-if="LoadingCalVdac && vdac_enable"
                variant="primary"
                label="Text Centered"
              ></b-spinner>
              <b-input-group-append>
                <b-button variant="outline-primary"
                  >{{
                    (Math.round(vdac_voltage/4.095))
                  }}
                  mV</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </div>
          <div v-if="vdac_enable && calibration" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="vdac_value"></b-form-input>
            </b-input-group>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div v-if="!calibration" class="card-header">
        Current DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#current-sources'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div v-if="calibration" class="card-header">
        Calibrated Current DAC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#current-dac-cdac'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="container">
          <div v-if="!calibration" class="p-1">
            <b-input-group prepend="Output pin">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="cdac_enable"
                @change="onPutCdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div v-if="!calibration" class="p-1">
            <b-input-group prepend="Tune" append="MSB">
              <b-form-input
                id="range"
                v-model="cdac_value"
                @change="onPutCdac(1, $event)"
                type="range"
                :min="0"
                :max="255"
                trigger-change-event
                :disabled="!cdac_enable"
              ></b-form-input>
            </b-input-group>
          </div>
          <div v-if="cdac_enable && !calibration" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="cdac_value"></b-form-input>
            </b-input-group>
          </div>
          <div v-if="!calibration" class="p-1">
            <b-input-group prepend="Channels">
              <b-form-checkbox-group
                id="btnradios_txmode"
                buttons
                v-model="cdac_channels"
                @change="onPutCdac(2, $event)"
                button-variant="outline-primary"
                :options="cdac_channels_options"
                name="radiosBtnDefault"
                :disabled="!cdac_enable"
              />
            </b-input-group>
          </div>

          <div v-if="calibration" class="p-1">
            <b-input-group prepend="Output pin">
              <b-form-radio-group
                id="btn_pull"
                buttons
                v-model="cdac_enable"
                @change="onPutCdac(0, $event)"
                name="pullbtns"
                button-variant="outline-primary"
                :disabled="LoadingCal || FindCalProgress"
              >
                <b-form-radio
                  v-for="opt in onoff_options"
                  :key="opt.value"
                  :value="opt.value"
                >
                  <icon :name="opt.icon" />
                  {{ opt.text }}
                </b-form-radio>
              </b-form-radio-group>
            </b-input-group>
          </div>
          <div v-if="calibration" class="p-1">
            <b-input-group prepend="Tune">
              <b-form-input
                id="range"
                v-model="cdac_current"
                @change="onPutCdacCalibrated(1, $event)"
                type="range"
                :min="0"
                :max="255"
                trigger-change-event
                :disabled="!cdac_enable || LoadingCal || FindCalProgress"
              ></b-form-input>
              <b-spinner
                v-if="LoadingCalCdac && cdac_enable"
                variant="primary"
                label="Text Centered"
              ></b-spinner>
              <b-input-group-append>
                <b-button variant="outline-primary"
                  >{{
                    (Math.round(cdac_current*3.92))
                  }}
                  uA</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </div>
          <div v-if="cdac_enable && calibration" class="p-1">
            <b-input-group>
              <b-input-group-prepend is-text>
                CDAC channel
              </b-input-group-prepend>
              <b-form-select
                v-model="cdac_channel"
                @change="onPutCdacCalibrated(2, $event)"
                :options="cdac_channels_calibrated_options"
                button-variant="outline-secondary"
                :disabled="LoadingCal || FindCalProgress"
              />
            </b-input-group>
          </div>
          <div v-if="cdac_enable && calibration" class="p-1">
            <b-input-group prepend="Byte value">
              <b-form-input v-model="cdac_value"></b-form-input>
            </b-input-group>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div v-if="!calibration" class="card-header">
        ADC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#analog-to-digital-converter'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div v-if="calibration" class="card-header">
        Calibrated ADC
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/analog.html#analog-to-digital-converter-adc'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-1 variant="primary"
              >Converter</b-button
            >
          </b-card-header>
          <b-collapse
            id="accordion-1"
            visible
            accordion="my-accordion"
            role="tabpanel"
          >
            <b-card-body>
              <div v-if="!calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Positive Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inp"
                    @change="onPutVadc(0, $event)"
                    :options="adc_in_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div v-if="!calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Negative Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inn"
                    @change="onPutVadc(1, $event)"
                    :options="adc_in_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div v-if="!calibration" class="p-1">
                <b-form-group>
                  <b-form-radio-group
                    id="adc_gain"
                    buttons
                    @change="onPutVadc(2, $event)"
                    v-model="adc_gain"
                    :options="adc_gain_options"
                    button-variant="outline-primary"
                    name="radiosBtnDefault"
                  />
                </b-form-group>
              </div>
              <div v-if="!calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getAdc"
                    >
                      Start conversion
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="adc_conv"></b-form-input>
                </b-input-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Positive Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inp"
                    @change="onPutVadc(0, $event)"
                    :options="adc_inp_options_calibrated"
                    button-variant="outline-secondary"
                    :disabled="LoadingCal || FindCalProgress"
                  />
                </b-input-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text>
                    ADC Negative Input
                  </b-input-group-prepend>
                  <b-form-select
                    v-model="adc_inn"
                    @change="onPutVadc(1, $event)"
                    :options="adc_inn_options_calibrated"
                    button-variant="outline-secondary"
                    :disabled="LoadingCal || FindCalProgress"
                  />
                </b-input-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-form-group>
                  <b-form-radio-group
                    id="adc_gain"
                    buttons
                    @change="onPutVadc(2, $event)"
                    v-model="adc_gain"
                    :options="adc_gain_options_calibrated"
                    button-variant="outline-primary"
                    name="radiosBtnDefault"
                    :disabled="LoadingCal || FindCalProgress"
                  />
                </b-form-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-input-group append="mV">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getAdcCalibrated"
                      :disabled="LoadingCal || FindCalProgress"
                    >
                      Start conversion
                    </button>
                    <b-spinner
                      v-if="LoadingCalAdc"
                      variant="primary"
                      label="Text Centered"
                    ></b-spinner>
                  </b-input-group-prepend>
                  <b-form-input v-model="adc_voltage"></b-form-input>
                </b-input-group>
                <div v-if="calibration" class="p-1">
                  <b-input-group prepend="Byte value">
                    <b-form-input v-model="adc_conv"></b-form-input>
                  </b-input-group>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" v-if="!calibration" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-2 variant="primary"
              >Temperature Sensor</b-button>
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/analog.html#temperature-sensor'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </b-card-header>

          <b-card-header header-tag="header" v-if="calibration" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-2 variant="primary"
              >Calibrated Temperature Sensor</b-button>
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/analog.html#on-chip-temperature-sensor'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </b-card-header>

          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <div v-if="!calibration" class="p-1">
                <b-input-group append="MSB">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getTempSensor"
                    >
                      Measure code
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="sensor_temp_code"></b-form-input>
                </b-input-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-input-group append="°C">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      type="button"
                      @click="getTempSensorCalibrated"
                      :disabled="LoadingCal || FindCalProgress"
                    >
                      Measure Temperature
                    </button>
                    <b-spinner
                      v-if="LoadingCalTemp"
                      variant="primary"
                      label="Text Centered"
                    ></b-spinner>
                  </b-input-group-prepend>
                  <b-form-input v-model="sensor_temp_calibrated"></b-form-input>
                </b-input-group>
                <div v-if="calibration" class="p-1">
                  <b-input-group prepend="Byte value">
                    <b-form-input v-model="sensor_temp_code"></b-form-input>
                  </b-input-group>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>


      <div class="p-1">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" v-if="!calibration" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-3 variant="primary"
              >VDD Monitoring</b-button>
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/analog.html#supply-voltage-monitors'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </b-card-header>
          <b-card-header header-tag="header" v-if="calibration" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-3 variant="primary"
              >Calibrated VDD Monitoring</b-button>
            <a
              v-bind:href="
                'https://lpgbt.web.cern.ch/lpgbt/v' +
                chip_version +
                '/analog.html#id3'
              "
              target="_blank"
              ><icon name="question-circle" class="text-secondary"
            /></a>
          </b-card-header>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <div v-if="!calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text
                    >ADC Input</b-input-group-prepend
                  >
                  <b-form-select
                    v-model="vdd_mon"
                    @change="onPutVdd(0, $event)"
                    :options="vdd_mon_options"
                    button-variant="outline-secondary"
                  />
                </b-input-group>
              </div>
              <div v-if="!calibration" class="p-1">
                <b-input-group append="MSB">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      @click="getAdc"
                      type="button"
                    >
                      Start conversion
                    </button>
                  </b-input-group-prepend>
                  <b-form-input v-model="vdd_mon_conv"></b-form-input>
                </b-input-group>
              </div>

              <div v-if="calibration" class="p-1">
                <b-input-group>
                  <b-input-group-prepend is-text
                    >ADC Input</b-input-group-prepend
                  >
                  <b-form-select
                    v-model="vdd_mon"
                    @change="onPutVdd(0, $event)"
                    :options="vdd_mon_options_calibrated"
                    button-variant="outline-secondary"
                    :disabled="LoadingCal || FindCalProgress"
                  />
                </b-input-group>
              </div>
              <div v-if="calibration" class="p-1">
                <b-input-group append="V">
                  <b-input-group-prepend>
                    <button
                      class="btn btn-primary btn-block"
                      @click="getVddMonCalibrated"
                      type="button"
                      :disabled="LoadingCal || FindCalProgress"
                    >
                      Start conversion
                    </button>
                    <b-spinner
                      v-if="LoadingCalVdd"
                      variant="primary"
                      label="Text Centered"
                    ></b-spinner>
                  </b-input-group-prepend>
                  <b-form-input v-model="vddmon_value_calibrated"></b-form-input>
                </b-input-group>
                <div v-if="calibration" class="p-1">
                  <b-input-group prepend="Byte value">
                    <b-form-input v-model="vdd_mon_conv"></b-form-input>
                  </b-input-group>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      errorMessage: "",
      onoff_options: [
        { text: "disabled", value: false, icon: "toggle-off" },
        { text: "enabled", value: true, icon: "toggle-on" },
      ],

      vref_tune: 58,
      vref_tune_max: 127,
      vref_enable: false,

      temperature_c: 0,
      FindCalProgress: false,
      LoadingCal: false,
      calibration: 0,
      calibration_options: [
        { text: "No calibration used", value: 0, disabled: false },
        { text: "Average calibration values", value: 1, disabled: false },
        { text: "Chip-specific calibration values", value: 2, disabled: false },
      ],

      vdac_value: 2048,
      vdac_voltage: 0,
      vdac_enable: false,

      cdac_value: 128,
      cdac_current: 0,
      cdac_enable: false,

      cdac_channels: [],
      cdac_channels_options: [
        { text: "0", value: 0 },
        { text: "1", value: 1 },
        { text: "2", value: 2 },
        { text: "3", value: 3 },
        { text: "4", value: 4 },
        { text: "5", value: 5 },
        { text: "6", value: 6 },
        { text: "7", value: 7 },
      ],

      cdac_channel: 0,
      cdac_channels_calibrated_options: [
        { value: 0, text: "CDAC0" },
        { value: 1, text: "CDAC1" },
        { value: 2, text: "CDAC2" },
        { value: 3, text: "CDAC3" },
        { value: 4, text: "CDAC4" },
        { value: 5, text: "CDAC5" },
        { value: 6, text: "CDAC6" },
        { value: 7, text: "CDAC7" },
      ],

      adc_inp: "",
      adc_inn: "",
      adc_in_options: [
        { value: 0, text: "ADC0 (external pin)" },
        { value: 1, text: "ADC1 (external pin)" },
        { value: 2, text: "ADC2 (external pin)" },
        { value: 3, text: "ADC3 (external pin)" },
        { value: 4, text: "ADC4 (external pin)" },
        { value: 5, text: "ADC5 (external pin)" },
        { value: 6, text: "ADC6 (external pin)" },
        { value: 7, text: "ADC7 (external pin)" },
        { value: 8, text: "EOM DAC (external pin)" },
        { value: 9, text: "VDDIO (internal pin)" },
        { value: 10, text: "VDDTX (internal pin)" },
        { value: 11, text: "VDDRX (internal pin)" },
        { value: 12, text: "VDD (internal pin)" },
        { value: 13, text: "VDDA (internal pin)" },
        { value: 14, text: "Temperature sensor (internal pin)" },
        { value: 15, text: "VREF/2 (internal pin)" },
      ],
      adc_inp_options_calibrated: [
        { value: 0, text: "ADC0 (external pin)" },
        { value: 1, text: "ADC1 (external pin)" },
        { value: 2, text: "ADC2 (external pin)" },
        { value: 3, text: "ADC3 (external pin)" },
        { value: 4, text: "ADC4 (external pin)" },
        { value: 5, text: "ADC5 (external pin)" },
        { value: 6, text: "ADC6 (external pin)" },
        { value: 7, text: "ADC7 (external pin)" },
      ],

      adc_inn_options_calibrated: [
        { value: 15, text: "VREF/2 (internal pin)" }
      ],

      adc_gain: "",
      adc_gain_options: [
        { text: "gain x2", value: 0 },
        { text: "gain x8", value: 1 },
        { text: "gain x16", value: 2 },
        { text: "gain x32", value: 3 },
      ],
      adc_conv: "",
      adc_voltage: 0,

      adc_gain_options_calibrated: [
        { text: "gain x2", value: 0 },
        { text: "gain x8", value: 1 },
        { text: "gain x16", value: 2 },
      ],

      sensor_temp_code: 0,
      sensor_temp_calibrated: 0,

      vdd_mon_conv: "",
      vddmon_value_calibrated: "",
      vdd_mon: "",
      vdd_mon_options: [
        { text: "VDDIO", value: 9 },
        { text: "VDDTX", value: 10 },
        { text: "VDDRX", value: 11 },
        { text: "VDD", value: 12 },
        { text: "VDDA", value: 13 },
      ],
      vdd_mon_options_calibrated: [
        { text: "VDDTX", value: 10 },
        { text: "VDDRX", value: 11 },
        { text: "VDD", value: 12 },
        { text: "VDDA", value: 13 },
      ],

      chip_version: "",
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getVref();
    this.getVdacCode();
    this.getCdacCode();
    this.getAdc();
  },

  methods: {
    // get methods
    getVref() {
      axios
        .get(`${API_URL}/vref`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vref_tune = response.data.result.vref_tune;
            this.vref_tune_max = response.data.result.vref_tune_max;
            this.vref_enable = response.data.result.vref_enable;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },

    getVdacCode() {
      axios
        .get(`${API_URL}/vdac_code`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vdac_value = response.data.result.vdac_value;
            this.vdac_enable = response.data.result.vdac_enable;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getCdacCode() {
      axios
        .get(`${API_URL}/cdac`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.cdac_value = response.data.result.cdac_value;
            this.cdac_enable = response.data.result.cdac_enable;
            this.cdac_channels = response.data.result.cdac_channels;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getAdc() {
      axios
        .get(`${API_URL}/adc`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.adc_inn = response.data.result.adc_inn;
            this.adc_inp = response.data.result.adc_inp;
            this.adc_gain = response.data.result.adc_gain;
            this.adc_conv = response.data.result.adc_conv;
            this.vdd_mon = response.data.result.adc_inp;
            this.vdd_mon_conv = response.data.result.adc_conv;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getAdcCalibrated() {
      this.LoadingCal = true;
      this.LoadingCalAdc = true;
      axios
        .put(`${API_URL}/adc_voltage`, {
          calibration: this.calibration,
          temperature_c: this.temperature_c,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalAdc = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.adc_inn = response.data.result.adc_inn;
            this.adc_inp = response.data.result.adc_inp;
            this.adc_gain = response.data.result.adc_gain;
            this.adc_voltage = response.data.result.adc_voltage;
            this.getAdc()
            this.LoadingCal = false;
            this.LoadingCalAdc = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getVddMonCalibrated() {
      this.LoadingCal = true;
      this.LoadingCalVdd = true;
      axios
        .put(`${API_URL}/vddMonitoringCalibrated`, {
          vdd_mon: this.vdd_mon,
          calibration: this.calibration,
          temperature_c: this.temperature_c,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalVdd = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vddmon_value_calibrated = response.data.result.vddmon_value_calibrated;
            this.getAdc()
            this.LoadingCal = false;
            this.LoadingCalVdd = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getTempSensor() {
      axios
        .get(`${API_URL}/internalSensorTemp`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.sensor_temp_code = response.data.result.sensor_temp_code;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getTempSensorCalibrated() {
      this.LoadingCal = true;
      this.LoadingCalTemp = true;
      axios
        .put(`${API_URL}/internalSensorTempCalibrated`, {
          calibration: this.calibration,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalTemp = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.sensor_temp_calibrated = response.data.result.sensor_temp_calibrated;
            this.getTempSensor()
            this.LoadingCal = false;
            this.LoadingCalTemp = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    // put methods
    OnPutCal(value) {
      var calibration = value;
      if (value == 2) {
        this.FindCalProgress = true;
      }
      axios
        .put(`${API_URL}/put_cal`, {
          calibration: calibration,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.FindCalProgress = false;
              this.calibration = 1
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }
            this.$refs["axios-error-modal"].show();
          }
        this.FindCalProgress = false;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onPutVref(field, value) {
      if (field == 0) {
        var enable = value;
        var tune = this.vref_tune;
      }
      if (field == 1) {
        var enable = this.vref_enable;
        var tune = value;
      }
      axios
        .put(`${API_URL}/vref`, {
          vref_tune: tune,
          vref_enable: enable,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onGetVrefCal() {
      this.LoadingCal = true;
      this.LoadingCalVref = true;
      axios
        .put(`${API_URL}/vref_cal`, {
          calibration: this.calibration,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalVref = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.vref_tune = response.data.result.vref_tune;
            this.temperature_c = response.data.result.temperature_c;
            this.LoadingCal = false;
            this.LoadingCalVref = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onPutVdac(field, value) {
      if (field == 0) {
        var enable = value;
        var tune = this.vdac_value;
      }
      if (field == 1) {
        var enable = this.vdac_enable;
        var tune = value;
      }
      axios
        .put(`${API_URL}/vdac`, {
          vdac_enable: enable,
          vdac_value: tune,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVdacCalibrated(value) {
      var enable = this.vdac_enable;
      var tune = value;
      this.LoadingCal = true;
      this.LoadingCalVdac = true;
      axios
        .put(`${API_URL}/vdac_voltage`, {
          vdac_enable: enable,
          vdac_voltage: tune,
          calibration: this.calibration,
          temperature_c: this.temperature_c,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalVdac = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        this.getVdacCode();
        this.LoadingCal = false;
        this.LoadingCalVdac = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutCdac(field, value) {
      if (field == 0) {
        var cdac_enable = value;
        var cdac_value = this.cdac_value;
        var cdac_channels = this.cdac_channels;
      }
      if (field == 1) {
        var cdac_enable = this.cdac_enable;
        var cdac_value = value;
        var cdac_channels = this.cdac_channels;
      }
      if (field == 2) {
        var cdac_enable = this.cdac_enable;
        var cdac_value = this.cdac_value;
        var cdac_channels = value;
      }
      axios
        .put(`${API_URL}/cdac`, {
          cdac_value: cdac_value,
          cdac_enable: cdac_enable,
          cdac_channels: cdac_channels,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutCdacCalibrated(field, value) {
      if (field == 1) {
        var cdac_channel = this.cdac_channel;
        var tune = value;
        var cdac_enable = this.cdac_enable;
      }
      if (field == 2) {
        var cdac_channel = value;
        var tune = this.cdac_current;
        var cdac_enable = this.cdac_enable;
      }
      this.LoadingCal = true;
      this.LoadingCalCdac = true;
      axios
        .put(`${API_URL}/cdac_current`, {
          cdac_channel: cdac_channel,
          cdac_current: tune,
          cdac_enable: cdac_enable,
          calibration: this.calibration,
          temperature_c: this.temperature_c,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
              this.LoadingCal = false;
              this.LoadingCalCdac = false;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        this.LoadingCal = false
        this.LoadingCalCdac = false;
        this.getCdacCode();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVadc(field, value) {
      if (field == 0) {
        var inp = value;
        var inn = this.adc_inn;
        var gain = this.adc_gain;
      }
      if (field == 1) {
        var inp = this.adc_inp;
        var inn = value;
        var gain = this.adc_gain;
      }
      if (field == 2) {
        var inp = this.adc_inp;
        var inn = this.adc_inn;
        var gain = value;
      }
      axios
        .put(`${API_URL}/adc`, {
          adc_inp: inp,
          adc_inn: inn,
          adc_gain: gain,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutVdd(field, value) {
      if (field == 0) {
        var vdd_mon = value;
      }
      axios
        .put(`${API_URL}/vddMonitoring`, {
          vdd_mon: vdd_mon,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },

  watch: {
    vref_enable(newValue) {
      if (newValue) {
        this.vrefBtnCaption = 'of<font-awesome-icon icon="toggle-on"/>';
      } else {
        this.vrefBtnCaption = 'on<font-awesome-icon icon="toggle-off"/>';
      }
    },
  },
};
</script>

<style lang="scss"></style>
