<template>
  <div class="i2cm">
    <div class="card mt-4">
      <div class="card-header">
        I2C Master
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/i2cMasters.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Master">
            <b-form-select
              v-model="i2cm"
              :options="i2cm_options"
              button-variant="primary"
            />

            <div class="p-1">
              <b-button variant="outline-primary" v-on:click="putI2CMreset()"
                >Reset</b-button
              >
            </div>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Slave address">
            <b-form-input
              placeholder="0x00"
              v-model="slave_address"
            ></b-form-input>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Register address width" append="bits">
            <b-form-select
              v-model="reg_address_width"
              :options="reg_address_width_options"
              button-variant="outline-secondary"
            />
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Register address">
            <b-form-input
              placeholder="0x00"
              v-model="reg_address"
            ></b-form-input>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Bus speed" append="Hz">
            <b-form-select
              v-model="speed"
              :options="speed_options"
              button-variant="outline-primary"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Write
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/i2cMasters.html#i2c-write-multi-0xc'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Data">
            <b-form-input v-model="write_data" type="text" placeholder="0x00" />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-button variant="primary" v-on:click="putWriteI2cMaster()"
            >Write</b-button
          >
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Read
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/i2cMasters.html#i2c-read-multi-0xd'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div v-if="i2cm == 0" class="p-1">
          <b-input-group prepend="Data Read">
            <b-form-input
              disabled
              v-model="read_i2cm0"
              type="text"
              placeholder="0x00"
            />
          </b-input-group>
        </div>
        <div v-if="i2cm == 1" class="p-1">
          <b-input-group prepend="Data Read">
            <b-form-input
              disabled
              v-model="read_i2cm1"
              type="text"
              placeholder="0x00"
            />
          </b-input-group>
        </div>
        <div v-if="i2cm == 2" class="p-1">
          <b-input-group prepend="Data Read">
            <b-form-input
              disabled
              v-model="read_i2cm2"
              type="text"
              placeholder="0x00"
            />
          </b-input-group>
        </div>
        <div class="p-1">
          <b-button
            variant="primary"
            v-on:click="
              putReadI2cMaster();
              getI2cMaster();
            "
            >Read</b-button
          >
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Register Map</div>
      <div class="card-body">
        <div class="p-1">
          <b-button-group>
            <b-button
              variant="outline-primary"
              @click="saveConfig()"
              v-b-popover.hover.top="'Save data to a file'"
              ><icon name="file-import" />Save</b-button
            >
            <b-button
              variant="outline-primary"
              @click="$refs.fileInput.click()"
              v-b-popover.hover.top="'Fetch data from a file'"
              ><icon name="file-export" />Load</b-button
            >
            <input
              type="file"
              name="config"
              style="display: none"
              @change="
                filesChange($event.target.name, $event.target.files);
                fileCount = $event.target.files.length;
              "
              accept="*.cnf"
              ref="fileInput"
              class="input-file"
            />
          </b-button-group>
          <div
            v-html="downloadLink"
            style="text-align: center; margin-top: 16px"
          ></div>
          <div v-if="writing_file">
            <b-spinner variant="primary"></b-spinner>
          </div>
          <div v-if="loading_file">
            <b-spinner variant="primary"></b-spinner>
          </div>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";

export default {
  data: function () {
    return {
      errorMessage: "",
      conn: 0,
      reg_address: "",
      slave_address: "",
      reg_address_width: 1,
      reg_address_width_options: [
        { text: "16", value: 2 },
        { text: "8", value: 1 },
      ],

      speed: 2,
      speed_options: [
        { text: "100k", value: 0 },
        { text: "200k", value: 1 },
        { text: "400k", value: 2 },
        { text: "1M", value: 3 },
      ],
      i2cm: 0,
      i2cm_options: [
        { text: "I2CM0", value: 0 },
        { text: "I2CM1", value: 1 },
        { text: "I2CM2", value: 2 },
      ],
      write_data: "",
      read_i2cm0: "",
      read_i2cm1: "",
      read_i2cm2: "",
      len_options: [
        { text: "1", value: 1 },
        { text: "2", value: 2 },
        { text: "3", value: 3 },
        { text: "4", value: 4 },
        { text: "5", value: 5 },
        { text: "6", value: 6 },
        { text: "7", value: 7 },
        { text: "8", value: 8 },
        { text: "9", value: 9 },
        { text: "10", value: 10 },
        { text: "11", value: 11 },
        { text: "12", value: 12 },
        { text: "13", value: 13 },
        { text: "14", value: 14 },
      ],
      downloadLink: "",
      writing_file: false,
      loading_file: false,
      chip_version: "",
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
  },

  methods: {
    getI2cMaster() {
      axios
        .get(`${API_URL}/i2cMasterReadValue`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.read_i2cm0 = response.data.result.read_i2cm0;
            this.read_i2cm1 = response.data.result.read_i2cm1;
            this.read_i2cm2 = response.data.result.read_i2cm2;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    putWriteI2cMaster() {
      axios
        .put(`${API_URL}/writeI2cMaster`, {
          i2cm: this.i2cm,
          slave_address: this.slave_address,
          reg_address: this.reg_address,
          speed: this.speed,
          write_data: this.write_data,
          reg_address_width: this.reg_address_width,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    putReadI2cMaster() {
      axios
        .put(`${API_URL}/readI2cMaster`, {
          i2cm: this.i2cm,
          slave_address: this.slave_address,
          reg_address: this.reg_address,
          speed: this.speed,
          read_data: this.read_data,
          reg_address_width: this.reg_address_width,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    putI2CMreset() {
      axios
        .put(`${API_URL}/resetI2cMaster`, {
          i2cm: this.i2cm,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveConfig() {
      this.writing_file = true;
      const formData = new FormData();
      formData.append("i2cm", this.i2cm);
      formData.append("slave_address", this.slave_address);
      formData.append("speed", this.speed);
      formData.append("reg_address_width", this.reg_address_width);

      axios
        .post(`${API_URL}/regsm/save`, formData)
        .then((response) => {
          //return axios.get(`${API_URL}/regsm/save`)
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.downloadLink =
              'Download : <a href="' +
              "/api/regs/download/" +
              response.data.result.filename +
              '">' +
              response.data.result.filename +
              "</a>";
            this.writing_file = false;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    loadConfig(formData) {
      this.loading_file = true;
      axios
        .post(`/api/regsm/load`, formData)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.loading_file = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData();

      if (!fileList.length) return;

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        formData.append(fieldName, fileList[x], fileList[x].name);
        formData.append("i2cm", this.i2cm);
        formData.append("slave_address", this.slave_address);
        formData.append("speed", this.speed);
      });

      // save it
      this.loadConfig(formData);
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },
};
</script>

<style lang="scss"></style>
