<template>
  <div class="data">
    <div class="card mt-4" v-if="mode == 'trx' || mode == 'rx'">
      <div class="card-header">
        Downlink data path configuration
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/highSpeedLinks.html#downlink-frame'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group>
            <b-input-group-prepend is-text>
              Bypass the downlink ...
            </b-input-group-prepend>
            <b-form-checkbox-group
              id="btnradios_eprxx_chns"
              buttons
              v-model="downlink_path"
              @change="onPutByPassDatapath(0, $event)"
              button-variant="outline-primary"
              :options="downlink_path_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'tx'">
      <div class="card-header">
        Uplink data path configuration
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/highSpeedLinks.html#uplink-frames'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group>
            <b-input-group-prepend is-text>
              Bypass the uplink ...
            </b-input-group-prepend>
            <b-form-checkbox-group
              id="btnradios_eprxx_chns"
              buttons
              v-model="uplink_path"
              @change="onPutByPassDatapath(1, $event)"
              button-variant="outline-primary"
              :options="uplink_path_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'tx'">
      <div class="card-header">
        Uplink Line Driver Data Source
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' + chip_version + '/dft.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="LD Source">
            <b-form-select
              v-model="ld_source"
              @change="onPutUplink"
              :options="ld_source_options"
              button-variant="outline-secondary"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'tx'">
      <div class="card-header">
        Uplink Serializer Data Source
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#serializer-data'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Serializer">
            <b-form-select
              v-model="ser"
              @change="onPutUplink"
              :options="ser_options"
              button-variant="outline-primary"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'tx'">
      <div class="card-header">
        Uplink Group Data Source
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#uplink-data-path-test-patterns'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1" v-for="id in 7" :key="id" :value="id">
          <b-input-group>
            <b-input-group-prepend is-text>
              Uplink data group {{ id - 1 }}
            </b-input-group-prepend>
            <b-form-select
              v-model="eprx[id - 1]"
              @change="onPutUplink"
              :options="eprx_oprions"
              button-variant="outline-secondary"
              :disabled="ser != 0"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'tx'">
      <div class="card-header">
        EPRX Group Channel PRBS Enable
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#prbs-generators-for-eportrx-group'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div v-for="gid in 7" class="p-1">
          <b-input-group>
            <b-input-group-prepend is-text>
              EPRX{{ gid - 1 }} channels
            </b-input-group-prepend>
            <b-form-checkbox-group
              id="btnradios_eprxx_chns"
              buttons
              v-model="eprx_gen[gid - 1]"
              @change="onPutUplink"
              button-variant="outline-primary"
              :options="eprx_gen_options"
              name="radiosBtnDefault"
            />
          </b-input-group>
        </div>
        To select PRBS7 generator please set the PSCLK0 frequency
        <router-link to="/clocks"> here</router-link>
      </div>
    </div>

    <div class="card mt-4" v-if="mode == 'trx' || mode == 'rx'">
      <div class="card-header">
        Downlink Group Data Source
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#downlink-data-path-test-patterns'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1" v-for="id in 4" :key="id" :value="id">
          <b-input-group>
            <b-input-group-prepend is-text>
              Downlink data group {{ id - 1 }}
            </b-input-group-prepend>
            <b-form-select
              v-model="eptx[id - 1]"
              @change="onPutUplink"
              :options="eptx_options"
              button-variant="outline-secondary"
            />
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode != 'off'">
      <div class="card-header">
        Constant Pattern
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#test-pattern-generators'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Pattern" class="mt-3">
            <b-form-input
              v-model="const_pattern"
              placeholder="0x12345678"
            ></b-form-input>
            <b-input-group-append>
              <b-button @click="onPutUplink" variant="outline-primary"
                >Load</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
    </div>

    <div class="card mt-4" v-if="mode != 'off'">
      <div class="card-header">
        BERT Pattern Checker
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/dft.html#test-pattern-checkers'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Source  ">
            <b-form-select
              v-model="bert_source"
              :options="bert_source_options"
              button-variant="outline-primary"
            />
          </b-input-group>
        </div>

        <transition name="fade">
          <div role="tablist" v-if="bert_source != 0">
            <div class="p-1" v-if="chip_version == 0 && bert_source != 14">
              <b-input-group prepend="Reference">
                <b-form-select
                  v-model="bert_chn_source"
                  :options="bert_chn_source_v0_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div
              class="p-1"
              v-if="chip_version == 1 && bert_source != 14 && bert_source >= 9"
            >
              <b-input-group prepend="Reference">
                <b-form-select
                  v-model="bert_chn_source"
                  :options="bert_chn_source_v0_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div class="p-1" v-if="chip_version == 1 && bert_source <= 8">
              <b-input-group prepend="Reference">
                <b-form-select
                  v-model="bert_chn_source"
                  :options="bert_chn_source_v1_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div class="p-1" v-if="chip_version == 0 && bert_source == 14">
              <b-input-group prepend="Reference">
                <b-form-select
                  v-model="bert_chn_source"
                  :options="bert_des_source_v0_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div class="p-1" v-if="chip_version == 1 && bert_source == 14">
              <b-input-group prepend="Reference">
                <b-form-select
                  v-model="bert_chn_source"
                  :options="bert_des_source_v1_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Meas time (clock cycles)">
                <b-form-select
                  v-model="meas_time"
                  :options="meas_time_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Skip cycle">
                <b-form-select
                  v-model="skip_cycle"
                  :options="cycle_options"
                  button-variant="outline-primary"
                />
              </b-input-group>
            </div>

            <div class="p-1">
              <b-button
                variant="primary"
                @click="
                  onPutBert();
                  onGetBertStatus();
                "
                >Start checker</b-button
              >
            <div class="text-center">
              <b-spinner
                v-if="bertProgress"
                variant="primary"
                label="Text Centered"
              ></b-spinner>
            </div>
            </div>
            <transition name="fade" v-if="ber_data == 1">
              <div class="p-1">
                <b-input-group prepend="BER">
                  <b-form-input v-model="errors.ber"> </b-form-input>
                </b-input-group>
              </div>
            </transition>
            <transition name="fade" v-if="ber_data == 1">
              <div class="p-1">
                <b-input-group prepend="Bits">
                  <b-form-input v-model="errors.bits"> </b-form-input>
                </b-input-group>
              </div>
            </transition>
            <transition name="fade" v-if="ber_data == 1">
              <div class="p-1">
                <b-input-group prepend="Errors">
                  <b-form-input v-model="errors.errors"> </b-form-input>
                </b-input-group>
              </div>
            </transition>
            <transition name="fade" v-if="ber_data == 1">
              <div class="p-1">
                <b-input-group prepend="No data">
                  <b-form-input v-model="errors.error_flag"> </b-form-input>
                </b-input-group>
              </div>
            </transition>
          </div>
        </transition>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
const API_URL = "/api";

export default {
  data: function () {
    return {
      errorMessage: "",
      mode: "",
      bertProgress: false,
      ser: 0,
      ser_options: [
        { value: 0, text: "Uplink Data - Normal mode of operation" },
        { value: 1, text: "PRBS7" },
        { value: 2, text: "PRBS15" },
        { value: 3, text: "PRBS23" },
        { value: 4, text: "PRBS31" },
        { value: 5, text: "CLK5G12" },
        { value: 6, text: "CLK2G56" },
        { value: 7, text: "CLK1G28" },
        { value: 8, text: "CLK40M" },
        { value: 9, text: "Loopback Downlink Frame @10G24" },
        { value: 10, text: "Loopback Downlink Frame @5G12" },
        { value: 11, text: "Loopback Downlink Frame @2G56" },
        { value: 12, text: "Constant Pattern" },
      ],
      eprx: [0, 0, 0, 0, 0, 0, 0],
      eprx_oprions: [
        { value: 0, text: "ePortRx Group Data" },
        { value: 1, text: "Uplink PRBS7 pattern generator" },
        { value: 2, text: "Uplink Up Counter pattern generator" },
        { value: 3, text: "Uplink Down counter pattern generator" },
        { value: 4, text: "Uplink Constant Pattern generator" },
        { value: 5, text: "Uplink Constant Pattern Inverted generator" },
        { value: 6, text: "Loopback Downlink Group Data Source" },
      ],
      eptx: [0, 0, 0, 0],
      eptx_options: [
        { value: 0, text: "Downlink Data - Normal mode of operation" },
        { value: 1, text: "Downlink PRBS7 pattern generator" },
        { value: 2, text: "Downlink Up Counter pattern generator" },
        { value: 3, text: "Constant Pattern generator" },
      ],
      const_pattern: "",
      eprx_gen: [[], [], [], [], [], [], []],

      eprx_gen_options: [
        { text: "0", value: 0, disabled: false },
        { text: "1", value: 1, disabled: false },
        { text: "2", value: 2, disabled: false },
        { text: "3", value: 3, disabled: false },
      ],

      ld_source: [0, 0, 0, 0],
      ld_source_options: [
        { value: 0, text: "Serializer data" },
        { value: 1, text: "Equalizer output data" },
        { value: 2, text: "Data resampled by CDR" },
      ],

      bert_source: "",
      bert_source_options: [
        { value: 0, text: "Checker disabled" },
        { value: 1, text: "Uplink Data Source Group 0" },
        { value: 2, text: "Uplink Data Source Group 1" },
        { value: 3, text: "Uplink Data Source Group 2" },
        { value: 4, text: "Uplink Data Source Group 2" },
        { value: 5, text: "Uplink Data Source Group 4" },
        { value: 6, text: "Uplink Data Source Group 5" },
        { value: 7, text: "Uplink Data Source Group 6" },
        { value: 8, text: "Uplink Data Source Group EC" },
        { value: 9, text: "Downlink Data Source Group 0" },
        { value: 10, text: "Downlink Data Source Group 1" },
        { value: 11, text: "Downlink Data Source Group 2" },
        { value: 12, text: "Downlink Data Source Group 3" },
        { value: 13, text: "Downlink Data Source Group EC" },
        { value: 14, text: "Downlink Deserializer Frame" },
      ],

      bert_chn_source: "",
      bert_chn_source_v0_options: [
        { value: 0, text: "Channel 0 - PRBS7 Data rate 1" },
        { value: 1, text: "Channel 1 - PRBS7 Data rate 1" },
        { value: 2, text: "Channel 2 - PRBS7 Data rate 1" },
        { value: 3, text: "Channel 3 - PRBS7 Data rate 1" },
        { value: 4, text: "Channel 0 - PRBS7 Data rate 2" },
        { value: 5, text: "Channel 2 - PRBS7 Data rate 2" },
        { value: 6, text: "Channel 0 - PRBS7 Data rate 3" },
        { value: 7, text: "Constant pattern" },
      ],

      bert_chn_source_v1_options: [
        { value: 0, text: "Channel 0 - PRBS7 Data rate 1" },
        { value: 1, text: "Channel 1 - PRBS7 Data rate 1" },
        { value: 2, text: "Channel 2 - PRBS7 Data rate 1" },
        { value: 3, text: "Channel 3 - PRBS7 Data rate 1" },
        { value: 4, text: "Channel 0 - PRBS7 Data rate 2" },
        { value: 5, text: "Channel 2 - PRBS7 Data rate 2" },
        { value: 6, text: "Channel 0 - PRBS7 Data rate 3" },
      ],

      bert_des_source_v0_options: [
        { value: 1, text: "Downlink data" },
        { value: 2, text: "Downlink - PRBS7" },
        { value: 3, text: "Downlink - PRBS15" },
        { value: 4, text: "Downlink - PRBS23" },
        { value: 5, text: "Downlink - PRBS31" },
        { value: 7, text: "Downlink frame" },
      ],
      bert_des_source_v1_options: [
        { value: 1, text: "Downlink data" },
        { value: 2, text: "Downlink - PRBS7" },
        { value: 3, text: "Downlink - PRBS15" },
        { value: 4, text: "Downlink - PRBS23" },
        { value: 5, text: "Downlink - PRBS31" },
      ],
      meas_time: "",
      meas_time_options: [
        { value: 0, text: "32" },
        { value: 1, text: "128" },
        { value: 2, text: "512" },
        { value: 3, text: "2k" },
        { value: 4, text: "8k" },
        { value: 5, text: "32k" },
        { value: 6, text: "128k" },
        { value: 7, text: "512k" },
        { value: 8, text: "2M" },
        { value: 9, text: "8M" },
        { value: 10, text: "32M" },
        { value: 11, text: "128M" },
        { value: 12, text: "512" },
        { value: 13, text: "2G" },
     // { value: 14, text: "8G" }, not possible, timeout 60s
     // { value: 15, text: "32G" }, not possible, timeout 60s
      ],
      ber_data: 0,
      skip_cycle: "",
      cycle_options: [
        { value: 0, text: "Disable" },
        { value: 1, text: "Enable" },
      ],

      bert_start: "0",
      errors: "",
      timer: "",

      downlink_path: [],
      downlink_path_options: [
        { text: "De-scrambler", value: 5, disabled: false },
        { text: "FEC decoder", value: 6, disabled: false },
        { text: "De-interleaver", value: 7, disabled: false },
      ],

      uplink_path: [],
      uplink_path_options: [
        { text: "Interleaver", value: 2, disabled: false },
        { text: "Scrambler", value: 1, disabled: false },
        { text: "FEC coder", value: 0, disabled: false },
      ],
      chip_version: 1,
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getMode();
    this.getUplink();
    this.getByPassDatapath();

    //this.timer =setInterval(this.getBertStatus,2000)
  },

  methods: {
    // get methods
    getMode() {
      axios
        .get(`${API_URL}/mode`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.mode = response.data.result.mode;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getUplink() {
      axios
        .get(`${API_URL}/dataSources`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.ser = response.data.result.ser;
            this.eprx = response.data.result.eprx;
            this.eptx = response.data.result.eptx;
            this.eprx_gen = response.data.result.eprx_gen;
            this.ld_source = response.data.result.ld_source;
            this.bert_source = response.data.result.bert_source;
            this.bert_chn_source = response.data.result.bert_chn_source;
            this.meas_time = response.data.result.meas_time;
            this.const_pattern = response.data.result.const_pattern;
            this.skip_cycle = response.data.result.skip_cycle;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onGetBertStatus() {
      this.bertProgress = true;
      axios
        .get(`${API_URL}/bert`)
        .then((response) => {
          if (response.data.status == "failed") {
            this.bertProgress = false;
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.ber_data = 1;
            this.errors = response.data.result.errors;
            this.bertProgress = false;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getByPassDatapath() {
      axios
        .get(`${API_URL}/byPassDatapath`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.downlink_path = response.data.result.downlink_path;
            this.uplink_path = response.data.result.uplink_path;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
    // put methods
    onPutUplink() {
      axios
        .put(`${API_URL}/dataSources`, {
          ser: this.ser,
          eprx: this.eprx,
          ld_source: this.ld_source,
          eptx: this.eptx,
          eprx_gen: this.eprx_gen,
          const_pattern: this.const_pattern,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutBert() {
      axios
        .put(`${API_URL}/dataSources`, {
          ser: this.ser,
          eprx: this.eprx,
          ld_source: this.ld_source,
          eptx: this.eptx,
          eprx_gen: this.eprx_gen,
          const_pattern: this.const_pattern,
          bert_source: this.bert_source,
          meas_time: this.meas_time,
          skip_cycle: this.skip_cycle,
          bert_start: this.bert_start,
          bert_chn_source: this.bert_chn_source,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutByPassDatapath(field, value) {
      if (field == 0) {
        var downlink_path = value;
        var uplink_path = this.uplink_path;
      }
      if (field == 1) {
        var downlink_path = this.downlink_path;
        var uplink_path = value;
      }
      axios
        .put(`${API_URL}/byPassDatapath`, {
          downlink_path: downlink_path,
          uplink_path: uplink_path,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss"></style>
